.btn {
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  display: inline-flex;
  padding: 0.8rem 2rem;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-primary-outlined {
  border: 2px solid var(--primary);
}
