.btn {
  align-items: center;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  display: inline-grid;
  padding: 0.8rem 1rem;
}

.btn-primary {
  color: #ffffff;
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-primary-outlined {
  border: 2px solid var(--primary);
}
