.card {
  border-radius: 1rem;
  max-width: 250px;
  height: auto;
  padding: 1rem;
  position: relative;
  transition: ease-in-out 0.5s;

  .card-header {
    align-items: center;
    display: flex;
    gap: 1rem;

    h3 {
      font-size: 0.85rem;
      letter-spacing: 1px;
      text-align: left;
    }

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .card-body {
    text-align: left;
    padding-block: 1rem;

    p {
      font-size: clamp(0.8rem, 8vw, 0.95rem);
    }
  }

  .card-footer {
    display: flex;

    label {
      color: rgba($color: #000000, $alpha: 0.2);
      font-weight: bold;
      font-size: clamp(1.5rem, 10vw, 3rem);
    }
  }
}

.card:hover {
  cursor: pointer;
  background-color: #f0f8ff;
  transition: ease-in-out 0.5s;

  .card-footer label {
    text-shadow: 3px 3px 0 var(--primary);
    transition: ease-in-out 0.5s;
  }
}
