.hero {
  color: var(--white);
  display: grid;
  margin-block: 2rem;

  .hero-innterContentContainer {
    font-family: Helvetica, sans-serif;
    max-width: 55ch;
    margin-block: inherit;

    h1,
    h2 {
      font-weight: bold;
      text-transform: uppercase;
    }

    h1 {
      font-size: clamp(1rem, 5vw, 2rem);
    }

    h2 {
      font-size: clamp(1rem, 13vw, 4.9rem);
    }

    p {
      line-height: 1.5;
    }

    .hero-buttonContainer {
      display: flex;
      gap: 1.5rem;
      margin-block: 1rem;
    }

    .hero-clientsLogoContainer {
      display: grid;

      #clients {
        align-items: center;
        display: inline-flex;
        font-size: 0.8rem;
        gap: 0.6rem;
      }

      #clients::after {
        width: 1.5rem;
        height: 0.06rem;
        background-color: var(--white);
        content: "";
        display: grid;
        place-content: center;
      }

      #clients-logoContainer {
        max-width: inherit;
        display: flex;

        a {
          width: 150px;
          fill: var(--white);
          padding-block: 1rem;
        }
      }
    }
  }
}
